**/node_modules
**/npm-debug.log

**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.env
**/requirements.txt
.gitignore
.git
.idea/
.vscode/

.DS_Store

**/debug.py
**/*.sh
**/*.md

**/__pycache__/
*.pyc